{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static "toExercise/app.css" %}">
  </head>

  <body>
    <nav class="navbar">
      <div class="icon">
        <a href="{%url 'home' %}"><img src="{% static 'toExercise/icon.png' %}" alt="Icon" /></a>
      </div>
      <a href="{% url 'add_exercise' %}">Add Exercise</a>
      <a href="{% url 'favorites'%}">Favorites</a>
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
